<!DOCTYPE html>
<html>
<head>
    <title>Admin approve</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/js/main.js" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/page.css" />
    <link rel="stylesheet" href="~/css/loginpage.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/css/popuplogin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Taviraj:wght600&display=swap"> <!--font หลัก-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    body {
        font-family: 'Taviraj', serif;
    }
    button {
        width: 50%;
        height: 20%;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 70%;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<body>


</body>
</html>
