<!DOCTYPE html>
@using WebMatrix.Data;
<!--คำสั่งการเชื่อมต่อดาต้าเบท-->
<html>
<head>
    @{
        var db = Database.Open("ResearchBooking");
        <!--คำสั่งเปิดการเชื่อมต่อดาต้าเบท-->

        var studentID = Request.Params["studentID"];
        //รับค่าจากหน้าจอก่อนหน้า

        var select = "SELECT * FROM Researchbooking.research rs inner join Researchbooking.exam ex on rs.studentID=ex.studentID inner join Researchbooking.students st on st.studentID=ex.studentID WHERE rs.studentID = @0 and ex.examResultStatus IN ('P','A');";
        var selectIT2 = "SELECT * FROM Researchbooking.document where documentType = 'IT2' and studentID = @0";
        var selectIT3 = "SELECT * FROM Researchbooking.document where documentType = 'IT3' and studentID = @0";
        var selectResearch = "SELECT researcDocument FROM Researchbooking.research WHERE studentID = @0";


        var listStudent = db.Query(select, studentID);


        var studentid = "";
        var studentName = "";
        var datetime = new DateTime();
        var status = "";
        var research = "";

        var selectDocIT2 = db.QuerySingle(selectIT2, studentID);
        var selectDocIT3 = db.QuerySingle(selectIT3, studentID);
        var selectDocResearch = db.QuerySingle(selectResearch, studentID);


        var it2 = "'/File/documentResearch/IT2/" + selectDocIT2["documentName"] + "'";
        var it3 = "'/File/documentResearch/IT3/" + selectDocIT3["documentName"] + "'";
        if (selectResearch != null)
        {
            research = "'/File/documentResearch/Research/" + studentID + "_Research.pdf'";
        }

        foreach (var row in listStudent)
        {
            studentid = row["studentID"];
            studentName = row["studentName"];
            datetime = row["examDateStart"];
            status = row["examResultStatus"];

        }



        if (IsPost) // ถ้าเข้า method post
        {
            var appvStatus = Request.Form["registrationStatus"]; // ดึงค่า approve status จาก form
            var note = Request.Form["note"];
            if (appvStatus == "A") // ถ้า approve status เป็น A
            {
                if (status == "A" && appvStatus == "A")
                {
                    appvStatus = "B";
                }
                else if (status == "B" && appvStatus == "A")
                {
                    appvStatus = "C";
                }
                if (Request.Files.Count == 2) // เช็คว่ามีไฟล์มาไหม ทั้ง 2 ไฟล์
                {
                    var fileNameIT2 = "";
                    var pathIT2 = "";
                    var fileIT2 = Request.Files[0];
                    if (fileIT2 != null && fileIT2.ContentLength > 0)
                    {
                        if (appvStatus == "A")
                        {
                            fileNameIT2 = studentID + "_IT2_Signed.pdf";
                        }
                        else if (appvStatus == "B")
                        {
                            fileNameIT2 = studentID + "_IT2_Signed2.pdf";
                        }
                        else if (appvStatus == "C")
                        {
                            fileNameIT2 = studentID + "_IT2_Signed3.pdf";
                        }
                        pathIT2 = Server.MapPath("~/File/documentResearch/IT2/" + fileNameIT2);
                        fileIT2.SaveAs(pathIT2);

                        var updatePathIT2 = " UPDATE Researchbooking.document SET documentName = @0, storage = @1 WHERE documentType = 'IT2' AND studentID = @2 ";
                        db.Execute(updatePathIT2, fileNameIT2, pathIT2, studentID);
                    }
                    var fileNameIT3 = "";
                    var pathIT3 = "";
                    var fileIT3 = Request.Files[1];
                    if (fileIT3 != null && fileIT3.ContentLength > 0)
                    {
                        if (appvStatus == "A")
                        {
                            fileNameIT3 = studentID + "_IT3_Signed.pdf";
                        }
                        else if (appvStatus == "B")
                        {
                            fileNameIT3 = studentID + "_IT3_Signed2.pdf";
                        }
                        else if (appvStatus == "C")
                        {
                            fileNameIT3 = studentID + "_IT3_Signed3.pdf";
                        }
                        pathIT3 = Server.MapPath("~/File/documentResearch/IT3/" + fileNameIT3);
                        fileIT3.SaveAs(pathIT3);

                        var updatePathIT3 = " UPDATE Researchbooking.document SET documentName = @0, storage = @1 WHERE documentType = 'IT3' AND studentID = @2 ";
                        db.Execute(updatePathIT3, fileNameIT3, pathIT3, studentID);
                    }
                }
            }

            var updateStatus = "";
            if (appvStatus == "A")
            {
                updateStatus = " UPDATE Researchbooking.exam SET examResultStatus = @0, noteExam1 = @1 WHERE studentID = @2 ";
            }
            else if (appvStatus == "B")
            {
                updateStatus = " UPDATE Researchbooking.exam SET examResultStatus = @0, noteExam2 = @1 WHERE studentID = @2 ";
            }
            else if (appvStatus == "C")
            {
                updateStatus = " UPDATE Researchbooking.exam SET examResultStatus = @0, noteExam3 = @1 WHERE studentID = @2 ";
            }

            else if (appvStatus == "D")
            {
                if (status == "P")
                {
                    appvStatus = "D1";
                    updateStatus = " UPDATE Researchbooking.exam SET examResultStatus = @0, noteExam1 = @1 WHERE studentID = @2 ";
                }
                else if (status == "A")
                {
                    appvStatus = "D2";
                    updateStatus = " UPDATE Researchbooking.exam SET examResultStatus = @0, noteExam2 = @1 WHERE studentID = @2 ";
                }
                else if (status == "B")
                {
                    appvStatus = "D3";
                    updateStatus = " UPDATE Researchbooking.exam SET examResultStatus = @0, noteExam3 = @1 WHERE studentID = @2 ";
                }

            }
            var isUpdate = db.Execute(updateStatus, appvStatus, note, studentID);
            if (isUpdate == 1)
            {
                <script>alert("ทำรายการสำเร็จ")</script>
                <script>location.href = "https://localhost:44361/Page/Teacher/Teacher%20Approve";</script>
            }
        }
    }
    <title>Teacher Detail Approve</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/js/main.js" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/page.css" />
    <link rel="stylesheet" href="~/css/loginpage.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/css/popuplogin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href=""
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Taviraj:wght600&display=swap">
    <!--font หลัก-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<style>

    body {
        font-family: 'Taviraj', serif;
    }

    button {
        width: 100%;
        height: 20%;
        border: none;
        color: black;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 70%;
        margin: 4px 2px;
        cursor: pointer;
    }

    .buttonjs {
        display: flex;
        height: 50px;
        padding: 0;
        background: #009578;
        border: none;
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        font-family: "Quicksand", sans-serif;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }

    .button:hover {
        background: #008168;
    }

    .button:active {
        background: #006e58;
    }

    .button__icon,
    .button__text {
        display: inline-flex;
        align-items: center;
        padding: 0 15px;
        color: #fff;
        height: 100%;
    }

    .button__icon {
        font-size: 1.5em;
        background: rgba(0, 0, 0, 0.08);
    }

    table, th, td {
        width: 30%;
        font-size: 20px;
        border: 3px solid;
        border-collapse: collapse;
    }

    th {
        text-align: center;
    }

    td {
        text-align: left;
    }
    .reg {
        height: 100%;
        background-color: #83c750;
        overflow-x: hidden;
        padding-top: 20px;
    }
</style>
<body>
    <div class="navbar navbar-dark reg shadow-sm">
        <div class=" navbar-brand d-flex align-items-center" style="width:100%;">

            <div style="padding-left:7%;">
                <img style="width:100px; height:100px;" src="~/Photo/logo it.png" />
            </div>
            <div style="padding-left:8%;">
                <strong style="color:black;">ระบบข้อมูลสารสนเทศวิจัยทางเทคโนโลยีสารสนเทศและนวัตกรรมดิจิทัล</strong>
            </div>
            <div style="padding-left:5%">
                <button type="button" class="buttonjs" onclick="location.href='https://localhost:44361/Page/Login.cshtml'">
                    <span class="button__text">ออกจากระบบ</span>
                </button>

            </div>


        </div>
    </div>
    <div class="container" align="center">
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-8 mb-4" style="padding-top:5%;">
                <div class="form-outline" align="left">
                    @if (status == "P")
                    {
                        <label style="padding-left:25%" class="form-label" for="status">ตำแหน่ง : อาจารย์ที่ปรึกษา </label><br />
                    }
                    else if (status == "A")
                    {
                        <label style="padding-left:25%" class="form-label" for="status">ตำแหน่ง : กรรมการ </label><br />
                    }


                    <label class="form-label" for="studentid">รหัสนักศึกษา : @studentid </label><br />
                    <label class="form-label" for="namestudent">ชื่อนักศึกษา : @studentName </label><br />
                    <label class="form-label">วันเวลาที่จอง : @datetime </label><br />
                    <label class="form-label" for="customFile">รูปเล่มวิจัย : <a href="#" onclick="window.open(@research, '_blank', 'fullscreen=yes'); return false;">Research</a></label><br />
                    <label class="form-label" for="customFile">เอกสาร IT2 : <a href="#" onclick="window.open(@it2, '_blank', 'fullscreen=yes'); return false;">IT2</a></label><br />
                    <label class="form-label" for="customFile">เอกสาร IT3 : <a href="#" onclick="window.open(@it3, '_blank', 'fullscreen=yes'); return false;">IT3</a></label><br />

                </div>
            </div>

            <div style="padding-top:20px;">
                <h6>กรุณาแนบเอกสาร</h6>
                <input type="file" class="custom-file-input" name="file1" id="customFile">
                <label class="custom-file-label" for="customFile">เอกสาร IT2 (PDF)</label><br />
                <input style="padding-top:10px;" type="file" class="custom-file-input" name="file2" id="customFile">
                <label class="custom-file-label" for="customFile">เอกสาร IT3 (PDF)</label>
            </div>
            <div style="padding-top:40px;">
                <div class="form-floating col-md-6 mb-4" style="padding-top:20px;">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="note" style="height: 200px"></textarea>
                    <label for="floatingTextarea">หมายเหตุ</label>
                </div>
                <div class="form-check form-check-inline" style="padding-top:20px; font-size:25px">
                    <input class="form-check-input" type="radio" name="registrationStatus" id="inlineRadio1" value="A" required>
                    <label class="form-check-label" for="inlineRadio1">อนุมัติ</label>
                </div>
                <div class="form-check form-check-inline" style="padding-bottom:20px; font-size: 25px">
                    <input class="form-check-input" type="radio" name="registrationStatus" id="inlineRadio2" value="D" required>
                    <label class="form-check-label" for="inlineRadio2">ไม่อนุมัติ</label>
                </div>

                <div style="padding-top:5%; padding-bottom:5%;">
                    <span>
                        <button style="background:#abbdee; max-width:200px;" type="submit" onclick="" ;>ยืนยัน</button>
                        <button style="background:#ffd1dc; max-width:200px;" type="reset">ยกเลิก</button>
                    </span>
                </div>
        </form>
    </div>

</body>
</html>
