.buttonblue {
    background-color: #abbdee; /* blue */
}

.buttonred {
    background-color: #ff6961; /* Red */
    }


.buttongreen {
    background-color: #CAEEBE; /* green */

    }
 
.buttonyellow {
    background-color: #FDE49F; /* yellow */

    }

.buttonpink {
    background-color: #F8C8DC; /* pink */

    }