.reg {
    height: 100%;
    background-color: #B8EBA9;
    overflow-x: hidden;
    padding-top: 20px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}
.cornersblack {
    
    border-radius: 25px;
    border: 5px solid #000;
    padding: 20%;
    width: 30%;

}

.tablefix {
    width:40px;
    height:30px;
}
