<!DOCTYPE>
<html>
<!--Login-->

<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/js/main.js" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/page.css" />
    <link rel="stylesheet" href="~/css/loginpage.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/css/popuplogin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Taviraj:wght600&display=swap">  <!--font หลัก-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
    <style>
        body {
            font-family: 'Taviraj', serif;  
        }
        button {
            width: 50%;
            
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 70%;
            margin: 4px 2px;
            cursor: pointer;
        }

    </style>

<body>

        <div class="sidenav">

            <div class="login-main-text">
                <div align="center">
                    <div>
                        <font color="#FCFAD9">
                            <h3>ระบบข้อมูลสารสนเทศวิจัยทาง</h3>
                            <h3>เทคโนโลยีสารสนเทศ</h3>
                            <h3>และนวัตกรรมดิจิทัล</h3><br />
                            
                            <h5>เทคโนโลยีสารสนเทศและนวัตกรรมดิจิทัล</h5>
                            <h6>มหาวิทยาลัยราชภัฏจันทรเกษม</h6>
                        </font>
                    </div>
                    <div style="margin:30px;">
                        <button style="background: #FDE49F; height: 5%;" onclick="" type="button"><i class="bi bi-search"></i> ค้นหางานวิจัย </button>
                        <button style="background: #FDE49F; height: 5%;" onclick="" type="button"><i class="bi bi-check-lg"></i> ผลการลงทะเบียน </button>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="main">
            <div>
                <div align="center">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">



                            <form>
                                
                                
                                <div class="col-md-10">
                                    <div class="mb-5">

                                        <img style="margin-top:20px" src="~/Photo/logo.png" />

                                        <h3>เข้าสู่ระบบ</h3>
                                        <div align="left">
                                            <font size="8"><label for="username" class="form-label"> ชื่อผู้ใช้ </label><br></font>
                                            <input type="text" class="form-control" width="10" placeholder="ชื่อผู้ใช้" />

                                            <font size="8"><label for="password" class="form-label"> รหัสผ่าน </label><br></font>
                                            <input type="password" class="form-control" placeholder="รหัสผ่าน" /><br>
                                        </div>
                                        <div align="center">
                                            <button style="background: #CAEEBE;" type="button" onclick="location.href='https://localhost:44361/Page/Home.cshtml';">เข้าสู่ระบบ</button><br />
                                            <button style="background: #abbdee;" type="button" onclick="location.href='https://localhost:44361/Page/Register.cshtml';">สมัครสมาชิก</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div id="formFooter">
                                <font size="3"><a class="underlineHover" href="https://localhost:44361/Page/forget.cshtml">ลืมรหัสผ่าน?</a></font>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</body>


</html>