<!DOCTYPE>
<html>
<!--Login-->
<head>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/js/main.js" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/page.css" />
    <link rel="stylesheet" href="~/css/loginpage.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/js/bootstrap.min.js" />

    <style>
        }

        .backgroundlg {
            background-color: white;
            padding: 30px;
        }
    </style>

    <body>
        
        <div class="sidenav">
            
            <div class="login-main-text">
                <button class="buttonyellow" style="padding-left:40px" onclick="" type="button">ค้นหางานวิจัย</button>

            </div>
        </div>
        <div class="main">
            <div>
                <div align="center">
                    <form>
                       <div class="col-md-6 col-sm-12">

                            <img style="margin-top:30px" src="~/Photo/logo.png" />
                            <h3>เข้าสู่ระบบ</h3>
                            <label for="username" class="form-label"> Username </label><br>
                            <input tpye="text" class="form-control" placeholder="Username" /><br>
                            <label for="password" class="form-label"> Password </label><br>
                            <input tpye="password" class="form-control" placeholder="Password" /><br>
                            <span>
                                <button class="buttongreen" onclick="" type="button">Login</button>
                                <input class="buttonblue" type="button" onclick="location.href='https://localhost:44361/Page/Register.cshtml';" value="Register" />

                            </span><br>
                    
                            <a href="https://localhost:44361/Page/forget.cshtml" style="font-size:15px">Forgetpassword?</a>

                            

                        </div>
                    </form>
                </div>
            </div>
        </div>



</html>