<html>
                         <!--Login-->
<head>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/js/main.js" />




    <bod>

        <section class="padding" align="center">
            <form>
                <h1 align="center"><font color="#000000">เข้าสู่ระบบ</font></h1>
                ID<br><input type="id"><br>
                PASSWORD<br><input name="password" type="password"><br><br>
                <span>
                    <button onclick="" type="button">Login</button>
                    <input type="button" onclick="location.href='https://localhost:44361/Page/Register.cshtml';" value="Register" />
                </span>
                <br>
                <a href="https://localhost:44361/Page/forget.cshtml" style="font-size:15px">Forgetpassword</a>
                <h1>123456</h1>
                <h1>test</h1>
                <script>
                </script>
</section>

        </form>
        </body>



</html>