<!DOCTYPE>
<html>
<!--Login-->
<head>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/js/main.js" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/page.css" />
    <link rel="stylesheet" href="~/css/loginpage.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/css/popuplogin.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Taviraj:wght600&display=swap">
    <style>
        body {
            font-family: 'Taviraj', serif;
            
        }
        

        .backgroundlg {
            background-color: white;
            padding: 30px;
        }
    </style>

    <bod>
        
        <div class="sidenav">

            <div class="login-main-text">
                <div align="center">
                    <h2> ระบบจองสอบวิจัย</h2>
                    <p>มหาวิทยาลัยราชภัฏจันทรเกษม</p>
                    <button class="buttonyellow" onclick="" type="button">ค้นหางานวิจัย</button><br />
                    <button class="buttonyellow" onclick="" type="button">ผลการลงทะเบียน</button>

                </div>

            </div>
        </div>
        <div class="main">
            <div>
                <div align="center">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">



                            <form>

                                <div class="col-md-6 col-sm-12">
                                    <div>

                                        <img style="margin-top:20px" src="~/Photo/logo.png" />

                                        <h3>เข้าสู่ระบบ</h3>
                                        <div align="left">
                                            <font size="5"><label for="username" class="form-label"> Username </label><br></font>
                                            <input type="text" class="form-control" placeholder="Username" />

                                            <font size="5"><label for="password" class="form-label"> Password </label><br></font>
                                            <input type="password" class="form-control" placeholder="Password" /><br>
                                        </div>

                                        <span>
                                            <button class="buttongreen" onclick="" type="button">Login</button>
                                            <input class="buttonblue" type="button" onclick="location.href='https://localhost:44361/Page/Register.cshtml';" value="Register" />

                                        </span>


                                    </div>
                                </div>
                            </form>
                            <div id="formFooter">
                                <font size="3"><a class="underlineHover" href="https://localhost:44361/Page/forget.cshtml">Forgot Password?</a></font>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



</html>