<!DOCTYPE html>
@using WebMatrix.Data;
<html>
<head>
    @{
        var db = Database.Open("ResearchBooking");
        if (IsPost)
        {
            var user = Request.Form["usr"];
            var password = Request.Form["pwd"];
            var name = Request.Form["name"];
            var insert = "insert into member(username,password,fname) values(@0,@1,@2)";
            db.Execute(insert, user, password, name);
            <script>alert("ลงทะเบียนรียบร้อยแล้ว ระบบกำลังดำเนินการ กรุณารอตรวจสอบสถานะการลงทะเบียนที่หน้าเว็บไซต์ในภายหลัง")</script>
        }
    }
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/css/page.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Taviraj:wght600&display=swap">  <!--font หลัก-->

</head>
<style>
    body {
        font-family: 'Taviraj', serif;
    }
</style>
<body>
    <section class="vh-100 reg">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">สมัครสมาชิก</h3>
                            <form>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="firstname" class="form-control form-control-lg" name="fname" required />
                                            <label class="form-label" for="firstname">ชื่อจริง</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="lastName" class="form-control form-control-lg" name="lname" required />
                                            <label class="form-label" for="lastName">นามสกุล</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="idstudent" class="form-control form-control-lg" required />
                                            <label class="form-label" for="idstudent">รหัสนักศึกษา</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="idcard" class="form-control form-control-lg" required />
                                            <label class="form-label" for="idcard">เลขบัตรประชาชน</label>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-mb-6 mb-4">
                                        <div class="form-outline">
                                            <input type="email" id="emailAddress" class="form-control form-control-lg" name="email" required />
                                            <label class="form-label" for="emailAddress">อีเมล์</label>
                                        </div>
                                    </div>
                                </div>
                                


                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="tel" id="phoneNumber" class="form-control form-control-lg" name="phoneNumber" required />
                                            <label class="form-label" for="phoneNumber">หมายเลขโทรศัพท์</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="year" class="form-control form-control-lg" name="year required />
                                            <label class="form-label" for="year">ปีที่เข้าศึกษา</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-mb-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="paperThai" class="form-control form-control-lg" name="researchNameT" required />
                                            <label class="form-label" for="paperThai">ชื่องานวิจัย (ภาษาไทย)</label>
                                        </div>

                                    </div>
                                    <div class="col-mb-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="paperEng" class="form-control form-control-lg" name="researchNameE" required />
                                            <label class="form-label" for="paperEng">ชื่องานวิจัย (ภาษาอังกฤษ)</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-mb-12 mb-4 pb-2">

                                        <select class="select form-control form-control-lg" required>
                                            <option value="0">รายการ</option>
                                            <option value="1">อาจารย์กอบทอง ลาดคุ้ม</option>
                                            <option value="2">ผู้ช่วยศาสตราจารย์ธนทรรศน์ พลเดช</option>
                                            <option value="3">ผู้ช่วยศาสตราจารย์ศรีอุดร แซ่อึ้ง</option>
                                            <option value="4">รองศาสตราจารย์ ดร.สมชาย ปราการเจริญ</option>
                                            <option value="5">อาจารย์ปภาดา นาวากาญจน์</option>
                                            <option value="6">อาจารย์ภัสสราภรณ์ สมบูรณ์ศักดิ์</option>
                                        </select>

                                        <label class="form-label select-label">อาจารย์ที่ปรึกษา</label>
                                    </div>

                                    <div class="col-mb-12 mb-4 pb-2">

                                        <select class="select form-control form-control-lg">
                                            <option value="0">ไม่มี</option>
                                            <option value="1">อ.กอบทอง ลาดคุ้ม</option>
                                            <option value="2">อ.ธนทรรศน์ พลเดช</option>
                                            <option value="3">อ.ศรีอุดร แซ่อึ้ง</option>
                                            <option value="4">อ.ปภาดา นาวากาญจน์</option>
                                            <option value="5">อ.ภัสสราภรณ์ สมบูรณ์ศักดิ์</option>
                                            <option value="6">อ.สมชาย ปราการเจริญ</option>
                                            <option value="7">ผู้ช่วยศาสตราจารย์ ดร.จันทรัตน์ กิ่งแสง</option>
                                            <option value="8">ผู้ช่วยศาสตราจารย์รวินทร์ ไชยสิทธิพร</option>
                                            <option value="9">ผู้ช่วยศาสตราจารย์ ดร.ภาคภูมิ มุกดาสนิท</option>
                                            <option value="10">อาจารย์นิยม สุทธหลวง</option>
                                            <option value="11">อาจารย์ชัยศิริ สนิทพลกลาง</option>
                                            <option value="12">อาจารย์ ดร.ไพโรจน์ สมุทรักษ์</option>
                                            <option value="13">ผู้ช่วยศาตราจารย์เกิยรติพงษ์ ยอดเยี่ยมแกร</option>
                                            <option value="14">ผู้ช่วยศาตราจารย์ ดร.อำนาจ สวัสดิ์นะที</option>
                                            <option value="15">อาจารย์กิตติมศักดิ์ กังวาราวุฒิ</option>
                                            <option value="16">อาจารย์ศุภรางค์ เรืองวานิช</option>
                                        </select>
                                        <label class="form-label select-label">อาจารย์ที่ปรึกษาร่วม</label>

                                    </div>

                                </div>

                                <div class="row">
                                    <h4 class="mb-4 pb-2 pb-md-0 mb-md-5">กรุณาแนบเอกสาร</h4>

                                    <div class="col-mb-24 mb-4 pb-2">

                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">เอกสาร IT1 (PDF)</label>
                                        </div>

                                    </div>

                                    <div class="col-mb-24 mb-4 pb-2">

                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">เอกสารการลงทะเบียนเรียนวิชาวิจัย (PDF)</label>
                                        </div>

                                    </div>

                                    <div class="mt-4 pt-2">
                                        <button class="btn btn-primary btn-lg" type="submit" onclick="" ;>ยืนยัน</button>
                                        <button class="btn btn-danger btn-lg" type="button" onclick="location.href='https://localhost:44361/Page/Login.cshtml';">ย้อนกลับ</button>
                                    </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
