<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title></title>
</head>
<body>
    <h1 align ="center"><font color="#000000">สมัครสมาชิก</font></h1>

</body>
</html>
