<!DOCTYPE html>
@using WebMatrix.Data;
<!--คำสั่งการเชื่อมต่อดาต้าเบท-->
<html>
<head>
    @{
        var db = Database.Open("ResearchBooking");
        <!--คำสั่งเปิดการเชื่อมต่อดาต้าเบท-->

        var select1 = "SELECT  teacherID,teacherName from Researchbooking.teacher where teacherRole in ('M', 'I')";
        var select2 = "SELECT  teacherID,teacherName from Researchbooking.teacher";
        <!--คิวลี่ตารางดาต้าเบท-->

        var teachar1 = db.Query(select1);
        var teachar2 = db.Query(select2);
        <!--พารามิเตอร์ เก็บข้อมูลที่ได้จากการคิวลี่ db.Query ได้ข้อมูลแบบเป็น list-->

        var fileName1 = "";
        var fileName2 = "";
        var path1 = "";
        var path2 = "";



        if (IsPost)
        //เอาไว้เช็คว่าฟอร์มของหน้าจอ submit มาแบบไหน
        {

            var studentID = Request.Form["studentID"];
            if (Request.Files.Count > 0)
            //เช็คว่าไฟล์อัพโหลดมารึป่าว
            {
                var file11 = Request.Files[0];
                //ไฟล์เวลา submit เข้ามา จะเป็น Array ตรงนี้เลือกตำแหน่งแรกตือตำแหน่งที่ 0
                if (file11 != null && file11.ContentLength > 0)
                //เช็คว่าไฟล์อัพโหลดมารึป่าว
                {

                    fileName1 = studentID + "_IT1.pdf";
                    //การตั้งชื่อไฟล์
                    path1 = @"\documentResearch\IT1\" + fileName1;
                    file11.SaveAs(path1);
                }

                var file22 = Request.Files[1];
                if (file22 != null && file22.ContentLength > 0)
                //ไฟล์เวลา submit เข้ามา จะเป็น Array ตรงนี้เลือกตำแหน่งที่สองตือตำแหน่งที่ 1
                {
                    //var fileName = Path.GetFileName(file.FileName);
                    fileName2 = studentID + "_timeTable.pdf";
                    path2 = @"\documentResearch\timeTable\" + fileName2;
                    file22.SaveAs(path2);
                }
            }

            var fname = Request.Form["fname"];
            var lname = Request.Form["lname"];
            var year = Request.Form["year"];
            var phoneNumber = Request.Form["phoneNumber"];
            var email = Request.Form["email"];
            var idcard = Request.Form["idcard"];
            var name = fname + " " + lname;
            //เก็บช้อมูลจากหน้าจอมาใส่ตัวแปร

            var insert1 = "insert into students(studentID,studentName,year,phoneNumber,email,idcard,password) values(@0,@1,@2,@3,@4,@5,@6)";
            db.Execute(insert1, studentID, name, year, phoneNumber, email, idcard, idcard);
            //เอาข้อมูลที่ได้จากหน้าจอไปใส่ในดาต้าเบท

            var researchNameT = Request.Form["researchNameT"];
            var researchNameE = Request.Form["researchNameE"];
            var teacherID1 = Request.Form["teacherID1"];
            var teacherID2 = Request.Form["teacherID2"];


            var insert2 = "insert into research(researchNameT,researchNameE,studentID,teacherID1,teacherID2) values(@0,@1,@2,@3,@4)";
            db.Execute(insert2, researchNameT, researchNameE, studentID, teacherID1, teacherID2);


            var file1 = Request.Form["file1"];
            var documentType1 = "IT1";

            var insert3 = "insert into document(documentName,storage,documentType,studentID) values(@0,@1,@2,@3)";
            db.Execute(insert3, fileName1, path1, documentType1, studentID);


            var file2 = Request.Form["file2"];
            var documentType2 = "timeTable";

            var insert4 = "insert into document(documentName,storage,documentType,studentID) values(@0,@1,@2,@3)";
            db.Execute(insert4, fileName2, path2, documentType2, studentID);

            <script>alert("ลงทะเบียนรียบร้อยแล้ว ระบบกำลังดำเนินการ กรุณารอตรวจสอบสถานะการลงทะเบียนที่หน้าเว็บไซต์ในภายหลัง")</script>
            <script>location.href = "https://localhost:44361/Page/Register.cshtml";</script>
        }
    }
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/css/page.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Taviraj:wght600&display=swap">  <!--font หลัก-->

</head>
<style>
    body {
        font-family: 'Taviraj', serif;
    }
    button {
        width: 20%;
        border: none;
        color: black;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<body>
    <section class="vh-100 reg">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">สมัครสมาชิก</h3>
                            <form method="post" enctype="multipart/form-data">
                                <!--method="post" เป็นการบอกว่าฟอร์มนี้เราจะ submit ข้อมูลจากฟอร์ม-->
                                <!--enctype="multipart/form-data หากต้องการอัพโหลดไฟล์ต้องใช้คำสั่งนี้-->

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="firstname" class="form-control form-control-lg" name="fname" required />
                                            <label class="form-label" for="firstname">ชื่อ (*ตัวอย่าง นางสาวสมพร/นายสมคิด)</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="lastName" class="form-control form-control-lg" name="lname" required />
                                            <label class="form-label" for="lastName">นามสกุล</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="idstudent" class="form-control form-control-lg" name="studentID" required />
                                            <label class="form-label" for="idstudent">รหัสนักศึกษา</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="idcard" class="form-control form-control-lg" name="idcard" required />
                                            <label class="form-label" for="idcard">เลขบัตรประชาชน</label>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-mb-6 mb-4">
                                        <div class="form-outline">
                                            <input type="email" id="emailAddress" class="form-control form-control-lg" name="email" required />
                                            <label class="form-label" for="emailAddress">อีเมล</label>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="tel" id="phoneNumber" class="form-control form-control-lg" name="phoneNumber" required />
                                            <label class="form-label" for="phoneNumber">หมายเลขโทรศัพท์</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="year" class="form-control form-control-lg" name="year" required />
                                            <label class="form-label" for="year">ปีที่เข้าศึกษา</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-mb-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="paperThai" class="form-control form-control-lg" name="researchNameT" required />
                                            <label class="form-label" for="paperThai">ชื่องานวิจัย (ภาษาไทย)</label>
                                        </div>

                                    </div>
                                    <div class="col-mb-6 mb-4">

                                        <div class="form-outline">
                                            <input type="text" id="paperEng" class="form-control form-control-lg" name="researchNameE" required />
                                            <label class="form-label" for="paperEng">ชื่องานวิจัย (ภาษาอังกฤษ)</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-mb-12 mb-4 pb-2">

                                        <select class="select form-control form-control-lg" name="teacherID1" required>
                                            <option value="0">เลือกอาจารย์ที่ปรึกษา</option>
                                            @foreach (var row in teachar1)
                                            {
                                                <option value="@row["teacherID"]">@row["teacherName"]</option>
                                                //เป็นการวนลูปเพื่อแสดงชื่ออาจารย์ใน option โดยส่วนแรกเป็น value ส่วนที่สองเป็น description 
                                                //เราจะมองเห็นแค่ description ในหน้าจอเท่านั้น
                                                //@row["teacherName"] เป็นคำสั่งแสดงผลแบบวนลูป โดยชื่อใน[]ต้องเป็นชื่อเดียวกับชื่อคอลัมน์ในตารางดาต้าเบทที่เราคิวลี่มา
                                                

                                            }


                                        </select>

                                        <label class="form-label select-label">อาจารย์ที่ปรึกษา</label>
                                    </div>

                                    <div class="col-mb-12 mb-4 pb-2">

                                        <select class="select form-control form-control-lg" name="teacherID2">
                                            <option value="0">ไม่มี</option>
                                            @foreach (var row in teachar2)
                                            {
                                                <option value="@row["teacherID"]">@row["teacherName"]</option>

                                            }

                                        </select>
                                        <label class="form-label select-label">อาจารย์ที่ปรึกษาร่วม</label>

                                    </div>

                                </div>

                                <div class="row">
                                    <h4 class="mb-4 pb-2 pb-md-0 mb-md-5">กรุณาแนบเอกสาร</h4>

                                    <div class="col-mb-24 mb-4 pb-2">

                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="file1" id="customFile">
                                            <label class="custom-file-label" for="customFile">เอกสาร IT1 (PDF)</label>
                                        </div>

                                    </div>

                                    <div class="col-mb-24 mb-4 pb-2">

                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="file2" id="customFile">
                                            <label class="custom-file-label" for="customFile">เอกสารการลงทะเบียนเรียนวิชาวิจัย (PDF)</label>
                                        </div>

                                    </div>

                                    <div class="mt-4 pt-2">
                                        <button style="background:#abbdee; " type="submit" onclick="" ;>ยืนยัน</button>
                                        <button style="background:#ffd1dc" btn-lg" type="reset">รีเซ็ต</button>
                                    </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
