<!DOCTYPE html>
@using WebMatrix.Data;
<html>
<head>
    @{ var db = Database.Open("Researchbooking");
        var studentid = Session["userName"];
        var fileName1 = "";
        var fileName2 = "";
        var path1 = "";
        var path2 = "";
        if (IsPost)
        {
            if (Request.Files.Count > 0)
            //เช็คว่าไฟล์อัพโหลดมารึป่าว
            {
                var file11 = Request.Files[0];
                if (file11 != null && file11.ContentLength > 0)
                {
                    //var fileName = Path.GetFileName(file.FileName);
                    fileName1 = studentid + "_IT2.pdf";
                    path1 = @"\documentResearch\IT2\" + fileName1;
                    file11.SaveAs(path1);
                }

                var file22 = Request.Files[0];
                if (file22 != null && file22.ContentLength > 0)
                {
                    //var fileName = Path.GetFileName(file.FileName);
                    fileName2 = studentid + "_IT3.pdf";
                    path2 = @"\documentResearch\IT3\" + fileName2;
                    file22.SaveAs(path2);
                }
            }
            //db.Execute(insertexam, Tt, studentid, teacherID2);
            var rsdate = Request.Form["rsdate"];
            var rstime = Request.Form["rstime"];
        }


        var file1 = Request.Form["file1"];
        var documentType1 = "IT2";
        var insert3 = "insert into document(documentName,storage,documentType,studentID) values(@0,@1,@2,@3)";
        db.Execute(insert3, fileName1, path1, documentType1, studentid);


        var file2 = Request.Form["file2"];
        var documentType2 = "IT3";
        var insert4 = "insert into document(documentName,storage,documentType,studentID) values(@0,@1,@2,@3)";
        db.Execute(insert4, fileName2, path2, documentType2, studentid);



        var select1 = "SELECT  teacherID,teacherName from Researchbooking.teacher where teacherRole in ('M', 'I')";
        var teachar2 = db.Query(select1);
        //เรียกใช้ตารางอาจารย์ที่เป็นในสาขา

        var select = "SELECT teacherID2, teacherID1  FROM Researchbooking.research where studentID = '" + studentid + "'";
        var row = db.QuerySingle(select);
        //เรียกใช้ตารางงานวิจับที่มีรหัสนักศึกษา = studentid

        var teacherID1 = row["teacherID1"];
        //เก็บค่ารหัสอาจารยจากข้างบน
        var selectT = "SELECT teacherName  FROM Researchbooking.teacher where teacherID = '" + teacherID1 + "'";
        //ใช้รหัสอาจารย์ในการค้นหาชื่อาจารยที่ตารางอาจาร์


        var teacherID11 = Request.Form["teacherid11"];


        var rowT = db.QuerySingle(selectT);
        var teacherName1 = rowT["teacherName"];
        //เก็บค่าชื่ออาจารย์
        var teacherName2 = "";

        var teacherID2 = row["teacherID2"];
        if (teacherID2 != "0")
        {
            var selectT2 = "SELECT teacherName  FROM Researchbooking.teacher where teacherID = '" + teacherID2 + "'";
            var rowT2 = db.QuerySingle(selectT2);
            teacherName2 = rowT2["teacherName"];

        }
        else
        {
            teacherName2 = "N/A";
        }
        var Tt = Request.Form["time"];
        //var insertexam = "insert into exam(examDateStart,studentID,teacherID) values(@0,@1,@2)";

    }

    <title>Reserve</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/js/main.js" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/page.css" />
    <link rel="stylesheet" href="~/css/loginpage.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-5.1.1-dist/js/bootstrap.min.js" />
    <link rel="stylesheet" href="~/css/popuplogin.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Taviraj:wght600&display=swap"> <!--font หลัก-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            var d = new Date();
            var toDay = d.getDate() + '/'
                + (d.getMonth() + 1) + '/'
                + (d.getFullYear() + 543);

            // Datepicker
            $("#datepicker-th").datepicker({
                dateFormat: 'dd/mm/yy', isBuddhist: true, defaultDate: toDay, dayNames: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
                dayNamesMin: ['อา.', 'จ.', 'อ.', 'พ.', 'พฤ.', 'ศ.', 'ส.'],
                monthNames: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
                monthNamesShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.']
            });
            $("#datepicker-th-2").datepicker({
                changeMonth: true, changeYear: true, dateFormat: 'dd/mm/yy', isBuddhist: true, defaultDate: toDay, dayNames: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
                dayNamesMin: ['อา.', 'จ.', 'อ.', 'พ.', 'พฤ.', 'ศ.', 'ส.'],
                monthNames: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
                monthNamesShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.']
            });
            $("#datepicker-en").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#inline").datepicker({ dateFormat: 'dd/mm/yy', inline: true });
        });
    </script>
</head>
<style>

    body {
        font-family: 'Taviraj', serif;
    }

    button {
        width: 100%;
        height: 20%;
        border: none;
        color: black;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 70%;
        margin: 4px 2px;
        cursor: pointer;
    }

    .buttonjs {
        display: flex;
        height: 50px;
        padding: 0;
        background: #009578;
        border: none;
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        font-family: "Quicksand", sans-serif;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }

    .button:hover {
        background: #008168;
    }

    .button:active {
        background: #006e58;
    }

    .button__icon,
    .button__text {
        display: inline-flex;
        align-items: center;
        padding: 0 15px;
        color: #fff;
        height: 100%;
    }

    .button__icon {
        font-size: 1.5em;
        background: rgba(0, 0, 0, 0.08);
    }

    table, th, td {
        width: 30%;
        font-size: 20px;
        border: 3px solid;
        border-collapse: collapse;
    }

    th {
        text-align: center;
    }

    td {
        text-align: left;
    }
</style>
<body>
    <div class="navbar navbar-dark reg shadow-sm">
        <div class=" navbar-brand d-flex align-items-center" style="width:100%;">

            <div style="padding-left:7%;">
                <img style="width:100px; height:100px;" src="~/Photo/logo it.png" />
            </div>
            <div style="padding-left:8%;">
                <strong style="color:black;">ระบบข้อมูลสารสนเทศวิจัยทางเทคโนโลยีสารสนเทศและนวัตกรรมดิจิทัล</strong>
            </div>
            <div style="padding-left:5%">
                <button type="button" class="buttonjs">
                    <span class="button__text">ออกจากระบบ</span>
                </button>

            </div>


        </div>
    </div>
    <div class="container" align="center">
        
            <form method="post" enctype="multipart/form-data">
                <div class="col-md-8 mb-4" style="padding-top:5%;">
                    <div class="form-outline" align="left">
                        <label class="form-label" for="nameteacher1">อาจารย์ที่ปรึกษา : @teacherName1</label><br />
                        <label class="form-label" for="nameteacher2">อาจารย์ที่ปรึกษาร่วม : @teacherName2 </label><br />
                        <label>อาจารย์กรรมการ :</label>
                        <select class="select form-control-sm col-md-8 mb-5" name="teacherid11" required>
                            <option value="0">เลือกอาจารย์กรรมการสอบ</option>
                            @foreach (var rowdf in teachar2)
                            {
                                <option value="@rowdf["teacherID"]">@rowdf["teacherName"]</option>
                                //เป็นการวนลูปเพื่อแสดงชื่ออาจารย์ใน option โดยส่วนแรกเป็น value ส่วนที่สองเป็น description
                                //เราจะมองเห็นแค่ description ในหน้าจอเท่านั้น
                                //@rowdf["teacherName"] เป็นคำสั่งแสดงผลแบบวนลูป โดยชื่อใน[]ต้องเป็นชื่อเดียวกับชื่อคอลัมน์ในตารางดาต้าเบทที่เราคิวลี่มา


                            }
                        </select>
                        <label for="reservedate">วันที่จอง :</label>
                        @*<input style="text-align:center" name="rsdate" type="date" data-date="" value=@rsdate>*@
                        <input type="text" name="rsdate" id="datepicker-th" value="">

                        <label>เวลาที่จอง :</label>
                        <select class="select form-control-sm" name="rstime" required>
                            <option value="0">เลือก</option>
                            <option value="09:00">09:00 - 10:00</option>
                            <option value="10:00">10:00 - 11:00</option>
                            <option value="11:00">11:00 - 12:00</option>
                            <option value="13:00">13:00 - 14:00</option>
                            <option value="14:00">14:00 - 15:00</option>
                            <option value="15:00">15:00 - 16:00</option>

                        </select>
                    </div>
                </div>

                <div style="padding-top:20px;">
                    <h6>กรุณาแนบเอกสาร</h6>
                    <input type="file" class="custom-file-input" name="file1" id="customFile">
                    <label class="custom-file-label" for="customFile">เอกสาร IT2 (PDF)</label><br />
                    <input style="padding-top:10px;" type="file" class="custom-file-input" name="file2" id="customFile">
                    <label class="custom-file-label" for="customFile">เอกสาร IT3 (PDF)</label>
                </div>
                <div style="padding-top:5%;">
                    <span>
                        <button style="background:#abbdee; max-width:200px;" type="submit">ยืนยัน</button>
                        <button style="background:#ffd1dc; max-width:200px;" type="reset">ยกเลิก</button>
                    </span>
                </div>
            </form>
</div>

</body>
</html>
